* {
	box-sizing: border-box; 
}
body {
  font-family: 'Open Sans', sans-serif;
}
header h1 {
	text-align: center;
	margin: -4px 0;
	letter-spacing: 0.15px;
}
p {
	margin: 0;
	display: flex;
	justify-content: space-between;
}
.divider  {
	border-bottom: 1px solid #888989;
}
.bold {
	 font-weight: 800;
}