body {
	background: #181818;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.round {
	position: relative; /*parent*/
	width: 180px;
	height: 180px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.ring-core {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: rgba(99, 179, 237, 0.15);
	animation: ringCore 8s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
}
	@keyframes ringCore {
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(1.5);
		}
		100% {
			transform: scale(1);
		}
	}
.ring-mid {
	position: absolute;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background: rgba(99, 179, 237, 0.25);
	animation: ringMid 8s  cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
}
	@keyframes ringMid {
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(1.5);
		}
		100% {
			transform: scale(1);
		}
	}
.ring-outer {
	position: absolute;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	background: #3a7bd5;
	animation: ringOuter 8s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
}
	@keyframes ringOuter {
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(1.5);
		}
		100% {
			transform: scale(1);
		}
	}